body, select, input, textarea {
  color: #3c454a;
  font-family: "MuseoSlab500", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

body {
  background: #fff;
  margin: 0 auto;
}

@font-face {
  font-family: 'MuseoSlab500';
  src: url('../fonts/museo-slab-500.eot');
  src: url('../fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museo-slab-500.woff') format('woff'),
       url('../fonts/museo-slab-500.ttf') format('truetype'),
       url('../fonts/museo-slab-500.svg#museo-slab-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  -moz-transition: all 0.2s ease 0s;
  color: #58b8d1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 13px;
}

.wrap {
  margin: 0 auto;
  width: 990px;
}

#header {
  padding: 20px 0;
}

#header h1 {
  font-size: 20px;
  margin: 0;
}

#content {
  background: #f3f3f3;
  padding: 20px 0;
}

#footer {
  font-size: 10px;
  padding: 20px 0;
}
